// customization for the home-page carousel, to help the captions stand
// out a little better.
#mainCarousel .carousel-caption {
  color: white;
  text-align: center;
  max-width: 300px;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  padding:10px;
  height:100%;
}

// customization for the home-page carousel, some pictures require the
// captions to align to the right.
#mainCarousel .carousel-caption-right {
  color: white;
  text-align: center;
  max-width: 300px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgba(0,0,0,0.5);
  padding:10px;
  height:100%;
}
