{%- assign margin = "r" -%}
{%- if page.lang == "ar" -%}
  {%- assign margin = "l" -%}
{%- endif -%}
<nav class="navbar navbar-expand-xl navbar-dark bg-dark" role="navigation">
 <a class="navbar-brand" href="/{{ page.lang }}/">ISBS</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarNav" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav m{{ margin }}-auto">
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/why-the-sharif">Why the Sharif?</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/read-listen">Read & Listen</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/bibles-books">Bibles & Books</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/contact">Contact</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/contact">Order</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/{{page.lang}}/about">About</a>
     </li>
   </ul>
   <form class="form-inline m{{ margin }}-2" method="get" action="https://www.google.com/search" target="_blank">
     <input type="hidden" name="sitesearch" value="{{ site.sitesearchurl }}" />
     <input class="form-control m{{ margin }}-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
   </form>
   {%- assign lang_path = "/" | append: page.lang | append: "/" -%}
   {%- assign stripped_page_url = page.url | replace: lang_path, "" -%}
   {%- assign en_active = "" -%}
   {%- assign ar_active = "" -%}
   {%- if page.lang == "en" -%}
     {%- assign en_active = "active" -%}
   {%- else -%}
     {%- assign ar_active = "active" -%}
   {% endif %}
   <div class="btn-group" role="group">
     <a href="{{ "/en/" | append: stripped_page_url }}" class="btn btn-secondary {{ en_active }}" tabindex="-1" role="button">English</a>
     <a href="{{ "/ar/" | append: stripped_page_url }}" class="btn btn-secondary {{ ar_active }}" tabindex="-1" role="button">العربية</a>
   </div>
 </div>
</nav>
