<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" dir="{{ site.data.locales[page.lang].langdir | default: site.data.locales[page.lang].langdir }}">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/css/app.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>  
 </head>
 <body>
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon" onclick="">menu</button>
        <span class="mdc-top-app-bar__title">ISBS</span> 
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Download">file_download</button>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Print this page">print</button>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button lang-button mdc-menu-surface--anchor" aria-label="Select language">language</button>
      </section>
      {%- assign lang_path = "/" | append: page.lang | append: "/" -%}
      {%- assign stripped_page_url = page.url | replace: lang_path, "" -%}
      {%- assign en_active = "" -%}
      {%- assign ar_active = "" -%}
      {%- if page.lang == "en" -%}
        {%- assign en_active = "mdc-list-item--activated" -%}
      {%- else -%}
        {%- assign ar_active = "mdc-list-item--activated" -%}
      {% endif %}
      <div class="mdc-menu mdc-menu-surface">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
          <li class="mdc-list-item  {{ en_active }}" role="menuitem">
            <a href="{{ "/en/" | append: stripped_page_url }}" class="mdc-list-item__text">English</a>
          </li>
          <li class="mdc-list-item  {{ ar_active }}" role="menuitem">
            <a href="{{ "/ar/" | append: stripped_page_url }}" class="mdc-list-item__text">العربية</span>
          </li>
        </ul>
      </div>         
    </div>
  </header>  
  <script lang="javascript">
    // Dropdown
    menu = new mdc.menu.MDCMenu(document.querySelector('.mdc-menu'));
    document.querySelector('.lang-button').addEventListener('click', () => menu.open = !menu.open);  
  </script>
 </body>
</html>
